// bootstrap navbar
.navbar {
    min-height: 10vh;
    background-color: $black;

    &-nav {
        position: absolute;
        right: .75rem;
        display: flex;
        gap: 2.2rem;
    }

    .nav {
        &__logo {
            width: 17rem;
            filter: invert(100%);
        }

        &-link {
            font-size: 2rem;
            color: $white;
            border-bottom: 2px solid transparent;
            padding: .4rem;
            @include linkTransition;

            &:hover {
                border-bottom: 2px solid $white;
            }

            &.active {
                border-bottom: 2px solid $white;
            }
        }
    }
}