header {
    width: 100%;
    min-height: 100%;
    background-color: $black;
}

// navbar section
.nav {
    @include flex(column, space-between, center);
    padding: 1em 2em;
    margin: 0 2em;
    height: 14vh;

    &__logo {
        width: 15rem;
        filter: invert(100%);
        @include linkTransition;
    }

    &__links {
        @include flex(row, space-between, center);
        gap: 1.5em;
    }

    &__link {
        color: $white;
        font-size: map-get($sizes, "sm");
        @include linkTransition;

        &--active {
            color: #9b2125;
        }

        &:hover {
            color: #9b2125;
        }
    }
}