.skills {
    width: 100%;
    padding: 2.2em 2em;
    @include flex(column, center, center);
    flex-wrap: wrap;
    gap: 3em;
    background-color: $white;
    background-size: 5rem 5rem;
    background-image: radial-gradient($gray 1px, transparent 1px);

    h1 {
        width: 100%;
        /* use esta propiedad para sacarlo fuera del flex del padre*/
    }

    &__box {
        min-height: 30rem;
        width: 33rem;
        text-align: center;
        background-color: $white;
        color: $black;
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all .2s ease-in-out;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
        }
    }

    &__img {
        flex-basis: 50%;
        overflow: hidden;

        img {
            padding: 1.2em;
            max-width: 30rem;
            filter: opacity(80%);
            transition: all .2s ease-in-out;

            &:hover {
                filter: opacity(100%);
                transform: scale(1.02);
            }
        }
    }

    &__content {
        flex-basis: 50%;
        padding: 1.2em;
        border-top: 1px solid $gray;

        &__title {
            font-size: $xl;
        }

        &__description {
            font-size: $md;
            font-weight: 300;
            line-height: 1.6;
        }
    }
}