// imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Raleway:wght@200;300;500&display=swap');
// **-----------variables
// fonts
$title: 'Poppins',
sans-serif;
$text:'Raleway',
sans-serif;
// colors
$black: #212529;
$ash: #3b3636;
$white: #f8f9fa;
$gray: #727475;
// sizes
$xxl: 4.4rem;
$xl: 3.2rem;
$md: 2.2rem;
$sm: 1.6rem;
// **-----------maps
$sizes: ("xxl": $xxl,
    "xl": $xl,
    "md": $md,
    "sm": $sm,
);